*.classpath
*.project
.settings/
target/
**/target/
.idea
*.iml
/.metadata/
.DS_Store
.generated/
.springBeans
.sonarlint/
.recommenders/
*.factorypath
*.log
*.gz
**/.attach_pid*
**/.sts4-cache/
*.bak
*.dump
*.dummy
/application-merge.properties
